/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 feb 2023, 12:42:37
    Author     : yulan
*/

.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.comment h3 {
    margin-top: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.comment p {
    margin-top: 5px;
    font-size: 1em;
    color: #333;
}

.comment span {
    font-size: 0.9em;
    color: #999;
}